<nav class="light-blue">PHR-nekoyashiki</nav>
<div class="content">
  <div id="target_date" class="center">
    2021/02/01~2021/02/07
  </div>
  <canvas id="graph"></canvas>
  <div class="d-flex">
    <div class="table_index">
      <p></p>
      <p>最高血圧</p>
      <p>最低血圧</p>
      <p>心拍数</p>
      <p>服薬</p>
      <p>体重</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/01 AM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/01 PM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/02 AM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/02 PM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/03 AM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/03 PM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/04 AM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/05 PM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/06 AM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/06 PM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/07 AM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
    <div class="table_element">
      <p class="table_date">02/07 PM</p>
      <p>110</p>
      <p>70</p>
      <p>60</p>
      <p>○</p>
      <p>70.0</p>  
    </div>
  </div>
</div>
